 .u-section-1 {
  background-image: url("images/BluePurpleOrangeCartoonPlayfulWebSoftwareDevelopmentAnnouncementBanner2-min.png");
  min-height: 964px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-1 {
  width: 636px;
  min-height: 294px;
  height: auto;
  background-image: url("images/HS4.png");
  background-position: 50% 50%;
  margin: 86px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 861px;
  margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.875rem;
  font-family: Lato, sans-serif;
  text-transform: none;
  font-weight: 700;
  margin: 33px calc(((100% - 1140px) / 2) + 184px) 0 calc(((100% - 1140px) / 2) + 211px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 16px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 130px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 20px 8px 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0 auto;
  padding: 15px 41px 15px 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 130px;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 30px 8px 20px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 0;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 69px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 35px;
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    width: 739px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 881px;
  }

  .u-section-1 .u-image-1 {
    width: 481px;
    min-height: 223px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 580px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 532px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 463px;
    margin-top: -4px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 34px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 457px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 707px;
  }

  .u-section-1 .u-image-1 {
    width: 244px;
    min-height: 130px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 97px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: 259px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 267px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 253px;
    margin-top: 30px;
    margin-bottom: -133px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 6px;
    margin-right: auto;
    padding-right: 23px;
    padding-left: 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 6px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}